@import "tailwindcss";

@theme {
  --color-primary: #00D2FF;
  --color-secondary: #2D2D2D;
  --color-accent: #666666;
  --font-primary: 'Nunito Sans', sans-serif;
  --font-secondary: 'Space Grotesk', sans-serif;
  --color-primary-2:'bg-linear-[25deg,red_5%,yellow_60%,lime_90%,teal]'

  --color-primary-2: 'linear-gradient(90deg, #00D2FF 0%, #059DBE 100%)';
  --background-secondary: 'linear-gradient(161.45deg, #00D2FF -5.54%, #9AEDFF 59.11%)'
  
}
:root {
  --background-primary: linear-gradient(90deg, #00D2FF 0%, #059DBE 100%);
  --background-secondary: linear-gradient(161.45deg, #00D2FF -5.54%, #9AEDFF 59.11%);
} 
 

